*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/public/js/filament
/public/css/filament
/public/fonts/filament
